<header class="mb-4 border-bottom">
    <nav class="d-flex justify-content-center py-2">
        <span class="me-auto fs-3 fw-bold">Linea Aerea</span>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
        </ul>
    </nav>
</header>
<body class="m-3">